<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550220836981-v91p066fbv0hlslvn7t5ngqkjprjaeq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550220836981-v91p066fbv0hlslvn7t5ngqkjprjaeq2</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Yo4c7c8UOJXGmyIX4pObQxa4U0iSuao</string>
	<key>GCM_SENDER_ID</key>
	<string>550220836981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viesoftware.edu01</string>
	<key>PROJECT_ID</key>
	<string>edu-go-1f960</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-go-1f960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:550220836981:ios:0f9234fa75548a12ab483c</string>
</dict>
</plist>
