.filter {
    display: flex;
    justify-content: space-between;
}
.lesson-list {
    padding: 30px;
}
.lesson-detail {
    margin: 8px;
    color: #1D2563;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.ant-btn {
    background: linear-gradient(173.94deg, #1D2563 20.97%, rgba(29, 37, 99, 0.88) 74.86%);
    border-radius: 10px;
    color: #ffff;
    &:hover {
        opacity: 0.8;
        color: #ffff;
        background: linear-gradient(173.94deg, #1D2563 20.97%, rgba(29, 37, 99, 0.88) 74.86%);
    }
}
.ant-collapse {
    background: #8275CE;
    border-radius: 20px;
}
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 20px;
}

.ant-collapse-header {
    color: #fff !important;
}
